<!DOCTYPE html>

<html lang="{{ DEFAULT_LANG }}">
<meta http-equiv="content-type" content="text/html; charset=utf-8" />

{% block head %}
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
    <meta name="description" content="">
    <meta name="author" content="Guillaume Chevrot">

    <!-- Le style -->
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/style.css" />
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/local.css" />
    <!-- <link rel="stylesheet" type="text/css" href="./theme/css/style.css" /> -->
    <!-- <link rel="stylesheet" type="text/css" href="./theme/css/local.css" /> --> 
{% endblock head %}

<body>
    <div id="sidebar">
        <ul>
            <li><div id="gchevrot"><a href="{{ SITEURL }}/index.html">G. Chevrot</a></div></li>
            <li><a href="{{ SITEURL }}/pages/about-me.html">About me</a></li>
            <li><a href="{{ SITEURL }}/pages/resume.html">Resum&eacute;</a></li>
            <li><a href="{{ SITEURL }}/pages/publications.html">Publications</a></li>
            <li><a href="{{ SITEURL }}/pages/contact.html">Contact</a></li>
            {% if LINKEDIN_URL %}
            <li><a href="{{ LINKEDIN_URL }}"><img src="{{ SITEURL }}/theme/images/icons/linkedin3.png" alt="LinkedIn"></a></li>
            {% endif %}
            {% if TWITTER_URL %}
            <li><a href="{{ TWITTER_URL }}"><img src="{{ SITEURL }}/theme/images/icons/twitter.svg" alt="Twitter"></a></li>
            {% endif %}
            <!-- display last tweet -->
            <img src="{{ SITEURL }}/theme/images/icons/twitter.svg" alt="Twitter">
            <a class="twitter-timeline" width="180" height="200" href="https://twitter.com/gchevrot"
            data-widget-id="387247107121229824">Tweets by @gchevrot</a>
            <script>!function(d,s,id){
                var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
            </script>
        </ul>   

        <p style="font-family:arial;font-size:0.6em;">Powered by <a href="http://docs.getpelican.com/">Pelican</a>.</p>
    </div>

    <div id="content">
    {% block content %}
    {% endblock content %}
    </div>
</body>

</html>
